{% extends 'banner.html.twig' %}
{% block content %}
    <main>
        <div class="header-container">
            <h2 class="display-4">
                {{ page_heading_2 }}
                <small class="text-muted">{{ page_heading_1 }}</small>
            </h2>
        </div>
        <div id="error-msg" class="alert alert-danger" role="alert">{{ message }}</div>
        <div class="refresh-container">
            <div class="update-container">
                <div class="loader" id="load-spinner"></div>
                <button class="btn btn-primary primary-color button inline-block" id="update-table-btn">Update table
                </button>
                <div class="inline-block">
                    <div class="custom-control custom-switch">
                        <span class="secondary-color block">Auto Refresh</span>
                        <label class="switch-lb-left" for="auto-refresh-switch">Off</label>
                        <input name="auto-refresh-switch" type="checkbox" class="custom-control-input"
                               id="auto-refresh-switch">
                        <label class="custom-control-label" for="auto-refresh-switch">On</label>
                    </div>
                </div>
            </div>
        </div>
        <table id="message-table" class="table table-sm table-dark">
            <thead>
            <th scope="col">Heater</th>
            <th scope="col">Keypad</th>
            <th scope="col">Fan</th>
            <th scope="col">Switch 1</th>
            <th scope="col">Switch 2</th>
            <th scope="col">Switch 3</th>
            <th scope="col">Switch 4</th>
            <th scope="col">Received time</th>
            <th scope="col">Source MSISDN</th>
            <th scope="col">Destination MSISDN</th>
            </thead>
            <tbody id="homepage-message-tbl-body">
            {% for message in message_list %}
                <tr>
                    <td>{{ message.heater ~ '°C' }}</td>
                    <td>{{ message.keypad }}</td>
                    <td>{{ (message.fan == 1) ? 'Forwards' : 'Backwards' }}</td>
                    <td>{{ (message.switch_1 == 1) ? 'on' : 'off' }}</td>
                    <td>{{ (message.switch_2 == 1) ? 'on' : 'off' }}</td>
                    <td>{{ (message.switch_3 == 1) ? 'on' : 'off' }}</td>
                    <td>{{ (message.switch_4 == 1) ? 'on' : 'off' }}</td>
                    <td>{{ message.received_time }}</td>
                    <td>{{ message.source_msisdn }}</td>
                    <td>{{ message.destination_msisdn }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}