{% extends 'banner.html.twig' %}
{% block content %}
    <main>
        <div class="header-container">
            <h2 class="display-4">
                {{ page_heading_2 }}
                <small class="text-muted">{{ page_heading_1 }}</small>
            </h2>
        </div>
        <div class="form-container">
            <form action="{{ action }}" method="{{ method }}">
                <div class="rows">
                    <div class="column column-switch">
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input name="switch1" type="checkbox" class="custom-control-input" id="switch1">
                                <label class="custom-control-label" for="switch1">Switch 1</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input name="switch2" type="checkbox" class="custom-control-input" id="switch2">
                                <label class="custom-control-label" for="switch2">Switch 2</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input name="switch3" type="checkbox" class="custom-control-input" id="switch3">
                                <label class="custom-control-label" for="switch3">Switch 3</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input name="switch4" type="checkbox" class="custom-control-input" id="switch4">
                                <label class="custom-control-label" for="switch4">Switch 4</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input name="fan" type="checkbox" class="custom-control-input" id="fan-control">
                                <label class="custom-control-label" for="fan-control">Fan</label>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="form-group">
                            <label for="heater">Heater</label>
                            <input name="heater" type="number" min="0" max="99" value="0" class="form-control"
                                   id="heater"
                                   aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="keypad">Keypad</label>
                            <input name="keypad" type="number" min="0" max="9" value="0" class="form-control"
                                   id="keypad"
                                   aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div>
                </div>
                <div class="sendMessage-btn-container">
                    <button type="submit" class="btn btn-primary primary-color button" id="sendMessage-btn">Send</button>
                </div>
            </form>
            <h4>{{ message }}</h4>
        </div>
    </main>
{% endblock %}