{% extends 'banner.html.twig' %}
{% block title %}Sign Up Result{% endblock %}
{% block content %}
    <main>
        <div class="header-container">
            <h2 class="display-4">
                {{ page_heading_2 }}
                <small class="text-muted">{{ page_heading_1 }}</small>
            </h2>
        </div>
        <h4>{{ result }}</h4>
        <br/>
        <a class="btn signup-btn primary-color" href="{{ landing_page }}">Back to
            Messages</a>
        <a class="btn signup-btn primary-color" href="{{ path_for(auth_page) }}">{{ auth_text }}</a>
    </main>
{% endblock %}